
{{!-- <div>
<h1>{{package.name}}</h1>
Description:<p>{{package.description}}</p>
Price:{{price}}<br>

<button><a href="/users/show">Cart</a></button>
</div> --}}
{{!-- <div> --}}
{{!-- <h1>{{package.name}}</h1>
Description:<p>{{package.description}}</p>
Price:{{price}}<br>

<button><a href="/users/show">Cart</a></button>
</div>
<div>
<h1>{{package.name}}</h1>
Description:<p>{{package.description}}</p>
Price:{{price}}<br>

<button><a href="/users/show">Cart</a></button>
</div> --}}