hello! views index..

{{#each users}}
<div>
    {{this.name}} - {{this.phoneNumber}} - {{this.email}} - {{this.userName}} - {{this.password}} - {{this.stable}}
    <a href="/users/">{{this.users}}'s Cars</a>
</div>
{{/each}}
