<div>
    <h1>{{user.name}}</h1>
    <div>Name: {{user.name}}</div>
    <div>Phone Number: {{user.phoneNumber}}</div>
    <div>Email: {{user.email}}</div>
    <div>User Name: {{user.userName}}</div>
    <div>Password: {{user.password}}</div>
    <div>Stable: {{user.stable}}</div>
    <div>
    <a href="/users">Return to Users</a>
    </div>
    <div>
    <a href="/users/{{user._id}}/edit">Edit</a>    
    </div>
    <div>
    <a href="/users/{{user._id}}/delete">Delete</a>    
    </div>
</div>