<div>
    Users show
    {{#each users}}
    <div>Name: {{this.name}}</div>
    <div>Phone Number: {{this.phoneNumber}}</div>
    <div>Email: {{this.email}}</div>
    <div>User Name: {{this.userName}}</div>
    <div>Password: {{this.password}}</div>
    <div>Stable: {{this.stable}}</div>
    {{/each}}
    <div>
    <a href="/users">Return to Users</a>
    </div>
    <div>
    <a href="/users/{{user._id}}/edit">Edit</a>    
    </div>
    <div>
    <a href="/users/{{user._id}}/delete">Delete</a>    
    </div>
</div>