<div>
    {{car.make}} - {{car.model}} - {{car.year}} - {{car.engine}} - {{car.trans}} - {{car.vin}} 
    <a href='/users/{{userId}}/cars/{{car_id}}/edit'>Edit</a>
    <a href='/users/{{userId}}/cars/{{car_id}}/delete'>Delete</a>
</div>